.header {
  display: flex;
  justify-content: space-between;
  gap: 400px;
  margin-bottom: 30px;
}

.division {
  display: flex;
  flex-direction: column;
  padding:10px ;
  width: 400px;
  text-align:center;
  color:black;
  /* background-color: white; */
  border-radius: 5px;
  background-image: url(./images/Div-background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* border: 20px solid black; */
  margin: 50px;
}

.division:hover{
  box-shadow: 10px 10px 20px rgba(36, 36, 36, 0.5);
  cursor: pointer;
}

.heading-left {
  text-align: left;
  color: burlywood;
  font-size: 100px;
  font-family: 'Playfair Display','sans serif';
  padding-left: 5px;
  margin-bottom: 50px;
  /* border: 20px solid black; */
}

.heading-right {
  text-align: left;
  color: burlywood;
  font-size: 50px;
  font-family: 'Playfair Display','sans serif';
  padding-left: 5px;
  margin-bottom: 50px;
  /* border: 20px solid black; */
}

.main{
  display: flex;
  justify-content: space-between;
 background-color: white;
}

h2 {
  /* text-align: left; */
  font-size: 60px;
  font-family: 'Playfair Display','sans serif';
}

p {
  font-size: 30px;
  font-family: 'Playfair Display','sans serif';
}

li {
  font-size: 20px;
  font-family: 'Playfair Display','sans serif';
}

img {
  height: 500px;
  width: 350px;
}

#body-background {
  background-image: url(./images/Body-background.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #1e2d12;
}

button {
  height: 50px;
  width: fit-content;
  background-color: black;
  color: aqua;
  border-radius: 10px;
  font-family: 'Playfair Display','sans serif';
}


